@charset "UTF-8";
header {
    background-color: #bbb;
    font-size: 20px;
}
.title {
    color: blue;
    font-size: 50px;
    text-align: center;
}
.container {
    display: flex;
}
.item {
    display: flex;
    margin: 0px 200px 0px 0px;
    text-align: center;
}
.section-title {
    text-align: center;
}


