@charset "UTF-8";
body {
    background-color: black;
}
.title {
    text-align: center;
    color: wheat;
    background-color: blue;
    font-size: 50px;
}
nav {
    text-align: center;
    color: wheat;
    background-color: green;
    font-size: 30px;  
    /* padding: px; */
    height: auto ;
}
main {
    background-color: aliceblue;
}
.container {
    display: flex;
}
.item {
    display: flex;
    text-align: center;
    padding: 20px 90px;
}
.skill-item {
    text-align: center;
    padding: 50px;
    margin: auto;
}
.section-title {
    text-align: center;
}


