@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    background-color: black;
}
.title {
    text-align: center;
    color: white;
    font-size: 50px;
}
/* 見出し */
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
nav {
    display: flex;
    text-align: center;
    color: wheat;
    font-size: 25px;  
    padding: px;
    height: 100px ; 
}
a {
    /* aタグの下の線を消す */
    text-decoration: none;
}
main {
    background-color: aliceblue;
}
.container {
    display: flex;
    height: 100px;
}
.item {
    display: flex;
    text-align: center;
    padding: 20px 90px;
}
.skill-item {
    text-align: center;
    padding: 50px;
    margin: auto;
}
.section-title {
    text-align: center;
}


