@charset "UTF-8";

.title {
    color: blue;
    font-size: 50px;
    border: 2px solid black;
    text-align: center;
}
.item {
    display: flex;
}
.section-title {
    text-align: center;
}
.header {
    font-size: 50px;
    text-align: center;
}
.header-nav {
    color: white;
    font-size: 25px;
    text-align: center;
}
