@charset "UTF-8";
header {
    font-size: 30px;
    height: 200px;
}
body {
    background-color: black;
}
main {
    background-color: aliceblue;
}
.title {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
.container {
    display: flex;
}
.item {
    text-align: center;
    padding: 60px;
}
.skill-item {
    text-align: center;
    padding: 50px;
    margin: auto;
}
.section-title {
    text-align: center;
}


