@charset "UTF-8";
/* 共通 
------------------------------- */
html {
    font-size: 100%;
}

/* フォント */
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.5;
}

ul {
    /* 点を消す */
    list-style: none; 
}

.text-center {
    /* テキストを中央に配置 */
    text-align: center; 
}

a {
    /* aタグの下の線を消す */
    text-decoration: none;
}

#page-header,
#page-footer {
    background-color: black;
}

.section-title {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.item {
    padding: 1rem;
}

/* ヘッダー 
------------------------------- */

/* タイトル */
.title {
    text-align: center;
    color: white;
    padding-top: 25px;
}

/* ナビ */
.main-nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
    list-style: none;
}
.main-nav a {
    color: white;
}
.main-nav a:hover {
    /* カーソルが上に乗った時に色を変える */
    color: #0bd;
}

/* about
------------------------------- */

/* works
------------------------------- */


/* skill
------------------------------- */
.skill-item {
    width: 300px; 
    padding: 1rem;
}

.skill-item ul {
    display: flex;
    flex-direction: column; 
    text-align: center; 
}

/* contact
------------------------------- */
.e-mail {
    padding: 1rem;
}

/* footer
------------------------------- */
footer {
    padding: 1rem;
}
footer a {
    color: white;
}
footer a:hover {
    /* カーソルが上に乗った時に色を変える */
    color: #0bd;
}